@model UsuarioModel;
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card col-8">
    <div class="card-header">
        Eliminar Usuario
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="Eliminar" asp-controller="Usuario" method="post"></form>
        <input asp-for="IdUsuario" type="hidden" class="form-control" />
        <div class="alert alert-danger" role="alert">
            ¿Deseas eliminar el usuario: @Html.DisplayTextFor(m=>m.Nombre)?

        </div>
        <div class="col-md-4 mb-3">
            <button type="submit" class="btn btn-danger mb-3 btn-sm">Eliminar</button><br />
            <a asp-action="Listar" asp-controller="Usuario" class="btn btn-warning btn-sm">Volver a la lista</a>
        </div>

    </div>

</div>

