@model FinaliPB.Models.LibroModel;
@{
    ViewData["Title"] = "Consultar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styleañadir.css">
</head>
<body>
    <div class="card-header">
        <h1>Añadir de Libros</h1>
    </div>
    <div class="card-body justify-content-center" id="container">


        <form asp-action="Añadir" asp-controller="Libro">
            <div class="mb-3">
                <label for="titulo" class="form-label">Nombre:</label>
                <input asp-for="Nombre" type="text" class="form-control" id="titulo" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="autor" class="form-label">Autor:</label>
                <input asp-for="Autor" type="text" class="form-control" id="autor">
            </div>
            <div class="mb-3">
                <label for="CANTIDAD" class="form-label">Cantidad:</label>
                <input asp-for="Cantidad" type="number" class="form-control" id="CANTIDAD">
            </div>
            <div class="mb-3">
                <label for="isbn" class="form-label">ISBN:</label>
                <input asp-for="ISBN" type="text" class="form-control" id="isbn">
            </div>
            <div class="mb-3">
                <label for="fcompra" class="form-label">Fecha de Compra:</label>
                <input asp-for="Fecha_de_Compra" type="date" class="form-control" id="fcompra">
            </div>
            <div class="mb-3">
                <label for="fadquisicion" class="form-label">Fecha de Adquisicion:</label>
                <input asp-for="Fecha_de_Adquisicion" type="date" class="form-control" id="fadquisicion">
            </div>

            <button type="submit" class="btn btn-primary">enviar</button>

        </form>
        <div>
            <a asp-action="Listar" asp-controller="Libro" class="btn btn-warning btn-sm">volver</a>
        </div>
    </div>

</body>


</html>
