@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Mensaje"]</h1>
   
    <p>En el corazón de la ciudad, se encuentra un lugar donde los sueños cobran vida y las historias trascienden el tiempo.
        Es la Biblioteca UTS, una puerta a mundos desconocidos, a sabiduría ancestral y a futuros inimaginables. Más que simples páginas y estanterías,
        es un hogar para las almas curiosas y sedientas de conocimiento.</p>
</div>
